#container{
    width:970px;
    align-self: center;
}
#container h1{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    
}
#container h3{
    display:inline;
    margin-left: 40%;
    text-align: right;
    
}
#content {
    background: rgb(90,69,79);
    background: radial-gradient(circle, rgba(90,69,79,1) 2%, rgba(38,21,26,1) 69%);
    padding:20px;

}


#profpic{
    width:382px;
    height:255px;
    border: 5px solid lightgrey;
    margin:10px;
    vertical-align: top;
}
#about {
    background-color: #efe8ee;
    margin: 10px;
    width: 450px;
    height: 255px;
    display: inline-block;
    vertical-align: top;
}
#about p, a{
    padding:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin:0px;
}

.graybar{
    background: rgb(138,136,149);
    background: linear-gradient(180deg, rgba(138,136,149,1) 2%, rgba(119,119,119,1) 36%, rgba(138,136,149,1) 73%); 
    color: white;
    margin:0px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}

.row-two {
    display: inline-block;
    width: 270px;
    margin: 10px;
    vertical-align: top;
    background-color: #efe8ee;
    align-self: center;
    
}
.row-two img {
    width: 100%;

}
.tech{
    align-items: center;
    display: inline-block;
    max-width: 35px;
    max-width: 35px;
    padding:5px;
}
.row-two button{
    display: block;
    text-align: center;
    background-color: #407d61;
    color: white;
    border-radius: 6px;
}
#container a{
    display: inline-block;
    text-align: center;
    align-items: center;
}
#container a img{
    max-width: 15px;
    max-height: 15px;
    display: inline-block;
}
